
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" ng-click="isCollapsed = !isCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ui-sref="home" ui-sref-opts="{reload: true}"><img ng-src="{{settings.logo}}"></a>
		</div>

		<div class="navbar-collapse collapse"  collapse="isCollapsed">
			<p ng-if="currentUser" class="navbar-text pull-right">
				{{ currentUser.name }}</p>
			<ul class="nav navbar-nav" ng-if="!currentUser">
				<li ng-class="{active: $state.includes('login')}"><a ui-sref="login">Login</a></li>
			</ul>
			<ul class="nav navbar-nav" ng-if="currentUser">
				<li ng-class="{active: $state.includes('dashboard')}"><a ui-sref="dashboard">Dashboard</a></li>
				<li ng-class="{active: $state.includes('users')}"><a ui-sref="users">Users</a></li>
				<li ng-class="{active: $state.includes('csvupload')}"><a ui-sref="csvupload">CSV Upload</a></li>
				<li><a ui-sref="logout">Log Out</a></li>
			</ul>
			<ul class="nav navbar-nav" ng-if="currentUser" style="float: right">
        <li ng-class="{active: $state.includes('cartdashboard')}"><a ui-sref="cartdashboard" class="navbar-nav pull-right">CART Dashboard</a></li>
      </ul>
		</div>
	</div>
</div>
<div style="background-color: red; height: 3px; margin-top: 66px;"></div>
	