
Hello <%= user.username %>, <br/>
<br/>
You or someone on your team has requested to change the password for your Chargeback.com CART system account.
Click below to reset your password.<br/>
<br/>
<div bgcolor="#5cb85c" style="border-radius: 5px; padding: 10px; background-color: #46a546; text-align: center; width: 250px;">
	<a style="color: #ffffff !important; text-decoration: none;" href="<%= link %>?utm_source=forgot&utm_medium=email&utm_campaign=utilities">
		Reset Your Password
	</a>
</div>

