

<div class="row reportingRow">
	<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar">
			<li ui-sref-active="active"><a ui-sref=".overview">Overview</a></li>
			<li ui-sref-active="active"><a ui-sref=".status">Status Reports</a></li>
			<li ui-sref-active="active"><a ui-sref=".cctype">Card Type Reports</a></li>
			<li ui-sref-active="active"><a ui-sref=".billing">Billing</a></li>
			<li ui-sref-active="active"><a ui-sref=".reasoncode"> Reason Codes </a></li>
		</ul>
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view id="reporting-views"></div>
</div>

